/*-------------------------
Customizations by CyberJack
--------------------------*/

html, body 
{
				height:100%;
				padding: 0px;
				margin: 0px;
}
#timeline-embed
{
				margin:0px !important;
				border:0px solid #CCC !important;
				padding:0px !important;
				-webkit-border-radius:0px !important;
				-moz-border-radius:0px !important;
				border-radius:0px !important;
				-moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
				-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
				box-shadow:0px 0px 0px rgba(0, 0, 0, 0.25) !important;
}
#k-header
{
			max-height: 100px;
			text-align: center;
			padding: 0px;
			background: url('pattern.png') repeat-x;
			box-shadow: 0 5px 0px 5px #000;
			animation:kolor 60s linear infinite;
			-moz-animation:kolor 60s linear infinite; /* Firefox */
			-webkit-animation:kolor 60s linear infinite; /* Safari and Chrome */
			border-bottom: 1px solid rgba(0,0,0,0.2);
			box-shadow:0 -2px 10px rgba(0,0,0,0.3) inset;
}
@keyframes kolor
{
0%   	{background:#97080E;}
25% 	{background:#DA4B0F;}
50% 	{background:#488C13;}
70% 	{background:#1B55C0;}
100%	{background:#97080E;}	
}

@-moz-keyframes kolor /* Firefox */
{
0%   	{background:#97080E;}
25% 	{background:#DA4B0F;}
50% 	{background:#488C13;}
70% 	{background:#1B55C0;}
100%	{background:#97080E;}
}

@-webkit-keyframes kolor /* Safari and Chrome */
{
0%   	{background:#97080E;}
25% 	{background:#DA4B0F;}
50% 	{background:#488C13;}
70% 	{background:#1B55C0;}
100%	{background:#97080E;}
}

@keyframes kolortxt
{
0%   	{color:#97080E;}
25% 	{color:#DA4B0F;}
50% 	{color:#488C13;}
70% 	{color:#1B55C0;}
100%	{color:#97080E;}
}

@-moz-keyframes kolortxt /* Firefox */
{
0%   	{color:#97080E;}
25% 	{color:#DA4B0F;}
50% 	{color:#488C13;}
70% 	{color:#1B55C0;}
100%	{color:#97080E;}
}

@-webkit-keyframes kolortxt /* Safari and Chrome */
{
0%   	{color:#97080E;}
25% 	{color:#DA4B0F;}
50% 	{color:#488C13;}
70% 	{color:#1B55C0;}
100%	{color:#97080E;}
}