/*-------------------------
Customizations by CyberJack
--------------------------*/

html, body 
{
				height:100%;
				padding: 0px;
				margin: 0px;
}
#timeline-embed
{
				margin:0px !important;
				border:0px solid #CCC !important;
				padding:0px !important;
				-webkit-border-radius:0px !important;
				-moz-border-radius:0px !important;
				border-radius:0px !important;
				-moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
				-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
				box-shadow:0px 0px 0px rgba(0, 0, 0, 0.25) !important;
}
#k-header
{
			max-height: 100px;
			text-align: center;
			padding: 5px;
			background: url('pattern.png') repeat-x;
			background-color: #3b5998;
			box-shadow: 0 5px 0px 5px #000;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			box-shadow:0 -2px 10px rgba(0,0,0,0.3) inset;
}
#klogo{padding-right:10px;-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;}
#klogo:hover{-webkit-transform: rotate(1turn);
		-moz-transform: rotate(1turn);
		-ms-transform: rotate(1turn);
		-o-transform: rotate(1turn);
		transform: rotate(1turn);}
#unesco {
position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 6px 5px 5px 5px;
  border: 1px solid #444;
  border-radius: 5px;
}
#fb {
position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  margin-top: 20px;
}